In [10]:
# dependencies 4.3.5
import pandas as pd

In [38]:
# List of high schools 4.3.4
high_schools = ["Huang High School", "Figueroa High School", "Shelton High School","Hernandez High School", 
                "Griffin High School", "Wilson High School", "Cabreara High School", "Bailey High School", 
                "Holden High School", "Pena High School", "Wright High School", "Rodgriguez High School",
               "Johnson High School", "Ford High School", "Thomas High School"]
for school in high_schools:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabreara High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodgriguez High School
Johnson High School
Ford High School
Thomas High School

In [40]:
# A dictionary of high schools and the type of school. 4.3.4
# SKILL DRILLterate through the list of dictionaries and print out each high school and their types, as shown in the following image.
high_school_types = [{"High School": "Huang", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Shelton", "Type": "Charter"},
                    {"High School": "Hernandez", "Type": "District"},
                    {"High School": "Griffin", "Type": "Charter"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Cabreara", "Type": "Charter"},
                    {"High School": "Bailey", "Type": "District"},
                    {"High School": "Holden", "Type": "Charter"},
                    {"High School": "Pena", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"},
                    {"High School": "Rodgriguez", "Type": "District"},
                    {"High School": "Johnson", "Type": "District"},
                    {"High School": "Ford", "Type": "District"},
                    {"High School": "Thomas", "Type": "Charter"}]

for type in high_school_types:
    print(type)

{'High School': 'Huang', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Shelton', 'Type': 'Charter'}
{'High School': 'Hernandez', 'Type': 'District'}
{'High School': 'Griffin', 'Type': 'Charter'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Cabreara', 'Type': 'Charter'}
{'High School': 'Bailey', 'Type': 'District'}
{'High School': 'Holden', 'Type': 'Charter'}
{'High School': 'Pena', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}
{'High School': 'Rodgriguez', 'Type': 'District'}
{'High School': 'Johnson', 'Type': 'District'}
{'High School': 'Ford', 'Type': 'District'}
{'High School': 'Thomas', 'Type': 'Charter'}

In [42]:
# List of high schools 4.3.5
high_schools = ["Huang High School", "Figueroa High School", "Shelton High School","Hernandez High School", 
                "Griffin High School", "Wilson High School", "Cabreara High School", "Bailey High School", 
                "Holden High School", "Pena High School", "Wright High School", "Rodgriguez High School",
               "Johnson High School", "Ford High School", "Thomas High School"]
print(high_schools)

['Huang High School', 'Figueroa High School', 'Shelton High School', 'Hernandez High School', 'Griffin High School', 'Wilson High School', 'Cabreara High School', 'Bailey High School', 'Holden High School', 'Pena High School', 'Wright High School', 'Rodgriguez High School', 'Johnson High School', 'Ford High School', 'Thomas High School']

In [43]:
# Create a Pandas Series from a list. 4.3.5
school_series = pd.Series(high_schools)
school_series

0          Huang High School
1       Figueroa High School
2        Shelton High School
3      Hernandez High School
4        Griffin High School
5         Wilson High School
6       Cabreara High School
7         Bailey High School
8         Holden High School
9           Pena High School
10        Wright High School
11    Rodgriguez High School
12       Johnson High School
13          Ford High School
14        Thomas High School
dtype: object

In [53]:
# SKILL DRILL Like a list in Python, indexing can be used to get specific items from a Pandas Series. 4.3.5
#Iterate through the school_series and print out each high 

print(school_series[1])

Figueroa High School

In [62]:
# A dictionary of high schools 4.3.5
high_school_dicts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"},
                    {"School ID": 5, "school_name":"Wilson High School", "type": "Charter"},
                    {"School ID": 6, "school_name":"Cabrea High School", "type": "Charter"},
                    {"School ID": 7, "school_name":"Bailey High School", "type": "District"},
                    {"School ID": 8, "school_name":"Holden High School", "type": "Charter"},
                    {"School ID": 9, "school_name":"Pena High School", "type": "Charter"},
                    {"School ID": 10, "school_name":"Wright High School", "type": "Charter"},
                    {"School ID": 11, "school_name":"Rodrigues High School", "type": "District"},
                    {"School ID": 12, "school_name":"Johnson High School", "type": "District"},
                    {"School ID": 13, "school_name":"Ford High School", "type": "District"},
                    {"School ID": 14, "school_name":"Thomas High School", "type": "Charter"},]

In [63]:
#4.3.5
school_df = pd.DataFrame(high_school_dicts)
school_df

    School ID            school_name      type
0           0      Huang High School  District
1           1   Figueroa High School  District
2           2    Shelton High School   Charter
3           3  Hernandez High School  District
4           4    Griffin High School   Charter
5           5     Wilson High School   Charter
6           6     Cabrea High School   Charter
7           7     Bailey High School  District
8           8     Holden High School   Charter
9           9       Pena High School   Charter
10         10     Wright High School   Charter
11         11  Rodrigues High School  District
12         12    Johnson High School  District
13         13       Ford High School  District
14         14     Thomas High School   Charter

In [74]:
# Three separate lists of information on high schools 4.3.5
school_id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

school_name =  ["Huang High School", "Figueroa High School", "Shelton High School","Hernandez High School", 
                "Griffin High School", "Wilson High School", "Cabreara High School", "Bailey High School", 
                "Holden High School", "Pena High School", "Wright High School", "Rodgriguez High School",
               "Johnson High School", "Ford High School", "Thomas High School"]

type_of_school = ["District", "District", "Charter", "District",
                  "Charter", "Charter", "Charter", "District", 
                  "Charter", "Charter", "Charter", "District", 
                  "District", "District", "Charter"]

In [75]:
# Initialize a new DataFrame. 4.3.5
schools_df = pd.DataFrame()

In [80]:
# Add the list to a new DataFrame. 4.3.5
#SKILL DRILL Add the school_name list as "School Name" and the type_of_school list as "Type" to the schools_df DataFrame. 
#Then print out the schools_df DataFrame.
#schools_df = pd.DataFrame()
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["School Type"] = type_of_school

# Print the DataFrame.
schools_df

    School ID             School Name School Type
0           0       Huang High School    District
1           1    Figueroa High School    District
2           2     Shelton High School     Charter
3           3   Hernandez High School    District
4           4     Griffin High School     Charter
5           5      Wilson High School     Charter
6           6    Cabreara High School     Charter
7           7      Bailey High School    District
8           8      Holden High School     Charter
9           9        Pena High School     Charter
10         10      Wright High School     Charter
11         11  Rodgriguez High School    District
12         12     Johnson High School    District
13         13        Ford High School    District
14         14      Thomas High School     Charter

In [68]:
# Create a dictionary of information on high schools. 4.3.5
#Another way to create this DataFrame is to create a Python dictionary from the three lists, like this:
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [85]:
# SKILL DRILL 4.3.5 
school_df = pd.DataFrame(high_school_dicts)
school_df

    School ID            school_name      type
0           0      Huang High School  District
1           1   Figueroa High School  District
2           2    Shelton High School   Charter
3           3  Hernandez High School  District
4           4    Griffin High School   Charter
5           5     Wilson High School   Charter
6           6     Cabrea High School   Charter
7           7     Bailey High School  District
8           8     Holden High School   Charter
9           9       Pena High School   Charter
10         10     Wright High School   Charter
11         11  Rodrigues High School  District
12         12    Johnson High School  District
13         13       Ford High School  District
14         14     Thomas High School   Charter

In [69]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [37]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [38]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)