In [1]:
import pandas as pd

In [11]:
#list of highschools
#lists need []
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]
#this for look will prit as a list below without any formatting
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [26]:
# this code "inplace?" will print with the [] '' formatting.
high_schools[3]

'Wright High School'

In [21]:
# dictionary of high schools and the type of school
# dictionaries require {} for each pairing
# if you include [], it is a list in a dictionary
high_school_types = [{"High School": "Griffin", "Type":"District"},
                      {"High School": "Figueroa", "Type": "District"},
                      {"High School": "Wilson", "Type": "Charter"},
                      {"High School": "Wright", "Type": "Charter"}]

#for school in high_school_types:
 #   print(school)

#or
high_school_types

[{'High School': 'Griffin', 'Type': 'District'},
 {'High School': 'Figueroa', 'Type': 'District'},
 {'High School': 'Wilson', 'Type': 'Charter'},
 {'High School': 'Wright', 'Type': 'Charter'}]

In [30]:
high_school_types[3]

{'High School': 'Wright', 'Type': 'Charter'}

In [32]:
# list of high schools []
# To make it a series use pd.Series() S MUST BE CAPITALIZED
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School",
                "Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", 
                "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", 
                "Johnson High School", "Ford High School", "Thomas High School"]
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [33]:
# print idividual schools
school_series[1]

'Figueroa High School'

In [36]:
#convert a list to a data frame which is like an excel file with multiple columns of data 
#it contains multiple Series
#dictionary of schools
#again this is a lists of dictionaries so you need both {} and []
high_school_districts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]
high_school_districts

[{'School ID': 0, 'school_name': 'Huang High School', 'type': 'District'},
 {'School ID': 1, 'school_name': 'Figueroa High School', 'type': 'District'},
 {'School ID': 2, 'school_name': 'Shelton High School', 'type': 'Charter'},
 {'School ID': 3, 'school_name': 'Hernandez High School', 'type': 'District'},
 {'School ID': 4, 'school_name': 'Griffin High School', 'type': 'Charter'}]

In [38]:
#convert the array, or lists of dictionaries to a data frame
school_df = pd.DataFrame(high_school_districts)
school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [45]:
# convert a list or Series to a DataFrame
# three separate lists of information for the high schools
school_id=[0, 1, 2, 3, 4]
school_name=["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]
type=["District", "District", "Charter", "District","Charter"]

type

['District', 'District', 'Charter', 'District', 'Charter']

In [53]:
#initalize a DataFrame
#this will print whatever you have in the "" with the heading you give it
schools_df = pd.DataFrame()
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["School Type"] = type

schools_df

   School ID            School Name School Type
0          0      Huang High School    District
1          1   Figueroa High School    District
2          2    Shelton High School     Charter
3          3  Hernandez High School    District
4          4    Griffin High School     Charter

In [58]:
#create a dictionary of high school information {}
high_schools_dict = {"School ID": school_id, "School Name":school_name, "School Type":type}

high_schools_dict

{'School ID': [0, 1, 2, 3, 4],
 'School Name': ['Huang High School',
  'Figueroa High School',
  'Shelton High School',
  'Hernandez High School',
  'Griffin High School'],
 'School Type': ['District', 'District', 'Charter', 'District', 'Charter']}

In [62]:
#create a DataFrame
dist_df = pd.DataFrame(high_schools_dict)
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["School Type"] = type

dist_df

   School ID            School Name School Type
0          0      Huang High School    District
1          1   Figueroa High School    District
2          2    Shelton High School     Charter
3          3  Hernandez High School    District
4          4    Griffin High School     Charter

In [65]:
#pull out the name of the  columns/will indext them for you
dist_df.columns

Index(['School ID', 'School Name', 'School Type'], dtype='object')

In [66]:
# gives you the range of columns
dist_df.index

RangeIndex(start=0, stop=5, step=1)

In [67]:
#puts the DataFram in an array
dist_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [73]:
#Skill Drill 4.3.5
# create the list/disctionary
pandas_high_schools = [{"school_id":"0", "school_name":"Huang High School", "type":"District"},
                       {"school_id":"1", "school_name":"Figueroa High School", "type":"District"},
                       {"school_id":"2", "school_name":"Shelon High School", "type":"District"},
                       {"school_id":"3", "school_name":"Hernandez High School", "type":"District"},
                       {"school_id":"4", "school_name":"Griffin High School", "type":"District"},
                       {"school_id":"5", "school_name":"Wilson High School", "type":"District"},
                       {"school_id":"6", "school_name":"Cabrera High School", "type":"District"},
                       {"school_id":"7", "school_name":"Baily High School", "type":"District"},
                       {"school_id":"8", "school_name":"Holden High School", "type":"District"},
                       {"school_id":"9", "school_name":"Pena High School", "type":"District"},
                       {"school_id":"10", "school_name":"Wright High School", "type":"District"},
                       {"school_id":"11", "school_name":"Rodriguez High School", "type":"District"},
                       {"school_id":"12", "school_name":"Johnson High School", "type":"District"},
                       {"school_id":"13", "school_name":"Ford High School", "type":"District"},
                       {"school_id":"14", "school_name":"Thomas High School", "type":"District"}]
#create data frame
pandas_high_schools = pd.DataFrame(pandas_high_schools)

pandas_high_schools

   school_id            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2     Shelon High School  District
3          3  Hernandez High School  District
4          4    Griffin High School  District
5          5     Wilson High School  District
6          6    Cabrera High School  District
7          7      Baily High School  District
8          8     Holden High School  District
9          9       Pena High School  District
10        10     Wright High School  District
11        11  Rodriguez High School  District
12        12    Johnson High School  District
13        13       Ford High School  District
14        14     Thomas High School  District